[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui_club"]
	path = external/imgui_club
	url = https://github.com/ocornut/imgui_club.git